.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #000;
}

.video-player {
    width: 100%;
    height: 100%;
    display: block;
}

.video-player.hidden {
    display: none;
}

.scheduled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    z-index: 10;
}

.scheduled-content {
    text-align: center;
}

.countdown {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #ff0000;
}
